# Virtual Environment
venv/
.venv/
env/

# Python cache & build outputs
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
*.egg-info/
dist/
build/

# Environment variables
.env

# OS specific files
.DS_Store
Thumbs.db
